table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn {
  margin: 20px;
}

#btn1
{
  margin: 20px;
}

.table-data {
  margin-top: 20%;
  justify-content: center;
}
.table-heading {
  text-align: center;
}

input {
  margin: 10px;
}

.form-edit{
  margin-top: 10%;
  justify-content: center;
  display: flex;
}

.form-add{
  margin-top: 10%;
  justify-content: center;
  display: flex;
}